workflow_entrega.json
{
  "name": "workflow_entrega",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5,
                6,
                0
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1520,
        -128
      ],
      "id": "ffa3f586-87d0-4c4e-9d6c-2e7e3384880a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Se ejecutara todos los dias  a las 7am ",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1536,
        -224
      ],
      "id": "8f91edec-e35e-4295-8275-05076f1c44ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 133692353,
          "mode": "list",
          "cachedResultName": "error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit#gid=133692353"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tipo de Error": "={{ $('HTTP Request - DOLAR').item.json.error.code + \" \" + $('HTTP Request - DOLAR').item.json.error.status }}",
            "Error": "={{ $json.error.name }}",
            "Hora": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[1].slice(0,8) }}",
            "Fecha": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0] }}",
            "Prioridad": "Alta"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo de Error",
              "displayName": "Tipo de Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resuelto",
              "displayName": "Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        240
      ],
      "id": "5f73dbfb-11e6-4859-b2a9-7623e477e47a",
      "name": "insertar_error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://dolarapi.com/v1/dolares/oficial",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        -128
      ],
      "id": "c376f703-196b-42ec-a4a5-453f6185d18f",
      "name": "HTTP Request - DOLAR",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd471148-45e4-4e1b-8c03-16ec516fe031",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        -128
      ],
      "id": "39f194df-38f6-4cef-ab6a-3f403d53102b",
      "name": "¿EXISTE UN ERROR?"
    },
    {
      "parameters": {
        "content": "Se consulta api: https://dolarapi.com/v1/dolares/oficial",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        -224
      ],
      "id": "d7065f21-05d9-4b5c-8dd3-3819672dfda3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "luciana.oviedo.wanuffelen@cummins.com",
        "subject": "=valor dolar {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "=row append -> error {{ $('HTTP Request - DOLAR').item.json.error.code + \" \" + $('HTTP Request - DOLAR').item.json.error.status }}!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -320,
        240
      ],
      "id": "7f860385-89af-440c-96d2-6d76ef68574c",
      "name": "Send a message2",
      "webhookId": "ae1eb49d-5344-4c2c-985a-a283ee38265c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TxrChhzQJClCL4cX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd471148-45e4-4e1b-8c03-16ec516fe031",
              "leftValue": "={{ parseInt($('Schedule Trigger').item.json['Day of month']) }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -352
      ],
      "id": "7c70ad5e-226e-4cb3-9b90-31255dbaeab8",
      "name": "¿Es 1ero?"
    },
    {
      "parameters": {
        "content": "si existe un error se guardara en otra hoja ",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        400
      ],
      "id": "503ed97f-5d3b-474c-a31e-d2ad9d92fc6b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list",
          "cachedResultName": "Pre_entrega-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('nombre').item.json.nombre_sheet }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora Mañana",
              "displayName": "Hora Mañana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Dólar COMPRA",
              "displayName": "Valor Dólar COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Dólar VENTA",
              "displayName": "Valor Dólar VENTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -336
      ],
      "id": "6aa42559-c077-48e0-9df0-5e857c5e780f",
      "name": "crear_cuadro_en_la_nueva_hoja",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list",
          "cachedResultName": "Pre_entrega-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit?usp=drivesdk"
        },
        "title": "={{ $json.nombre_sheet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -336
      ],
      "id": "6f15c2ff-6213-4b65-9e3c-74600ebf6d6d",
      "name": "nueva_hoja_segun_el_mes",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c5c8fc6-597b-43e5-9027-96c30292c097",
              "name": "nombre_sheet",
              "value": "={{ $('Schedule Trigger').item.json.Month }}-{{ $('Schedule Trigger').item.json.Year }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -320
      ],
      "id": "d63a327c-4d59-448c-b2fe-c9c6616a15ce",
      "name": "nombre"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Fecha\": \"{{ $('Schedule Trigger').item.json.timestamp.split('T')[0] }}\",\n  \"Hora Mañana\": \"{{ $('Schedule Trigger').item.json.timestamp.split('T')[1].substring(0, 8) }}\",\n  \"Valor Dólar COMPRA\": \"{{ $('HTTP Request - DOLAR').item.json.compra }}\",\n  \"Valor Dólar VENTA\": \"{{ $('HTTP Request - DOLAR').item.json.venta }}\",\n  \"Estado\": \"ok\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        144
      ],
      "id": "176b94ea-ba03-4069-8fd7-3a1bdb442277",
      "name": "row",
      "disabled": true
    },
    {
      "parameters": {
        "content": "se toma el registro anterior del mismo mes",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        272
      ],
      "id": "165e60b4-5dfc-4d9a-87d2-c8a07b3c9d1d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "sendTo": "luciana.oviedo.wanuffelen@cummins.com",
        "subject": "=valor dolar {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "=row append -> error {{ $('HTTP Request - DOLAR').item.json.error.code + \" \" + $('HTTP Request - DOLAR').item.json.error.status }}!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -720
      ],
      "id": "f198ab54-2309-42e9-bd1a-b20c35a3bdf6",
      "name": "Send a message3",
      "webhookId": "ae1eb49d-5344-4c2c-985a-a283ee38265c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TxrChhzQJClCL4cX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "si existe un error se guardara en otra hoja ",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -848
      ],
      "id": "619b6d58-b1ce-4eed-8958-bdefdac4f4f3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 133692353,
          "mode": "list",
          "cachedResultName": "error_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit#gid=133692353"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tipo de Error": "=YA se subio un registro de hoy",
            "Error": "=DUPLICADO",
            "Hora": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[1].slice(0,8) }}",
            "Fecha": "={{ $('Schedule Trigger').item.json.timestamp.split('T')[0] }}",
            "Prioridad": "Alta"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo de Error",
              "displayName": "Tipo de Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resuelto",
              "displayName": "Resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -720
      ],
      "id": "263367b5-cb79-480b-9ee8-67f282194de0",
      "name": "no_se_permite_dobles_registros",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f771dcf-af8e-41d5-a681-f2ce4c94615f",
              "leftValue": "={{ $node[\"row_hoy\"].data.isEmpty() }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -288
      ],
      "id": "9d69cd8e-0370-4387-8004-9c6b7dda0892",
      "name": "¿Se subio hoy?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Fecha\": \"{{ $('Schedule Trigger').item.json.timestamp.split('T')[0] }}\",\n  \"Hora Mañana\": \"{{ $('Schedule Trigger').item.json.timestamp.split('T')[1].substring(0, 8) }}\",\n  \"Valor Dólar COMPRA\": \"{{ $('HTTP Request - DOLAR').item.json.compra }}\",\n  \"Valor Dólar VENTA\": \"{{ $('HTTP Request - DOLAR').item.json.venta }}\",\n  \"Estado\": \"ok\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -336
      ],
      "id": "54074a3e-65ae-40ec-83cd-8c2a92b7a1a7",
      "name": "header1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Sos un analista financiero.",
        "messages": {
          "messageValues": [
            {
              "message": "=Sos un analista financiero. Tu tarea es comparar valores de cotización y clasificar si el precio SUBIÓ, BAJÓ o se MANTUVO.  Reglas: - Si el valor de hoy es mayor que el de ayer → responder \"SUBIO\" - Si el valor de hoy es menor que el de ayer → responder \"BAJO\" - Si son iguales → responder \"SE MANTUVO\"  Responder solo con una palabra en mayúsculas. No agregar explicación.\n\nTene en cuenta los valores de:\n- valor compra dolar hoy:{{ $('row_hoy_final').item.json.compra_hoy }}\n-  valor venta dolar hoy: {{ $('row_hoy_final').item.json.venta_hoy }}\n-  valor compra dolar ayer: {{ $json.compra_ayer }}\n-  valor venta dolar ayer:{{ $json.venta_ayer }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1808,
        -336
      ],
      "id": "84d65adb-2b78-4309-9384-418e92e5add4",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1824,
        -128
      ],
      "id": "c470191e-e18d-4907-b0c9-b32dd588f88e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "JnrswBgUkPU7adap",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "BAJO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0924d46f-93b9-4095-a8ad-beb043ced97c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bajo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5f606d5-2b3d-4429-94a4-0c055bd1defc",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "SUBIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "subio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2784,
        -352
      ],
      "id": "dd86e7c2-767f-4200-8d20-b7e1576a95c6",
      "name": "variacion del dolar"
    },
    {
      "parameters": {
        "sendTo": "luciana.oviedo.wanuffelen@cummins.com",
        "subject": "=valor dolar {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; border: 1px solid #ddd; padding: 20px; border-radius: 8px; max-width: 500px;\">\n  \n  <h2 style=\"color: #2c3e50; text-align: center;\">💵 Reporte Dólar BNA</h2>\n  \n  <p style=\"text-align: center; color: #7f8c8d;\">\n    Se ha registrado una nueva cotización en la hoja \n    <strong>{{ $('Schedule Trigger').item.json.Month }}</strong>.\n  </p>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">\n    <tr style=\"background-color: #003366; color: white;\">\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Fecha</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Horario</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Valor Compra</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Valor Venta</th>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">{{ $('row_hoy_final').item.json.fecha_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">{{ $('row_hoy_final').item.json.hora_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center; font-weight: bold;\">\n        $ {{ $('row_hoy_final').item.json.compra_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center; font-weight: bold;\">\n        $ {{ $('row_hoy_final').item.json.venta_hoy }}\n      </td>\n    </tr>\n  </table>\n\n  <!-- INDICADOR DE VARIACIÓN -->\n  <div style=\"text-align:center; font-size:20px; margin-top:20px; font-weight:bold;\">\n    {{'<span style=\"color:#7f8c8d;\">➖ SE MANTUVO </span>'\n    }}\n  </div>\n\n  <br>\n\n  <div style=\"text-align: center; font-size: 12px; color: #999;\">\n    Estado del sistema:  {{ $('row_hoy_final').item.json.estado }}🟢\n  </div>\n<h2> Reporte del dia: {{ $json.text }}</h2>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3104,
        -144
      ],
      "id": "fdcd8c88-053a-4273-aae1-ab801d29cf9a",
      "name": "email_reporte_se_mantuvo",
      "webhookId": "ae1eb49d-5344-4c2c-985a-a283ee38265c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TxrChhzQJClCL4cX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list",
          "cachedResultName": "Pre_entrega-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('nombre').item.json.nombre_sheet }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $('row_hoy_final').item.json.fecha_hoy }}",
            "Hora Mañana": "={{ $('row_hoy_final').item.json.hora_hoy }}",
            "Valor Dólar COMPRA": "={{ $('row_hoy_final').item.json.compra_hoy }}",
            "Valor Dólar VENTA": "={{ $('row_hoy_final').item.json.venta_hoy }}",
            "Estado": "={{ $('row_hoy_final').item.json.estado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora Mañana",
              "displayName": "Hora Mañana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Dólar COMPRA",
              "displayName": "Valor Dólar COMPRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor Dólar VENTA",
              "displayName": "Valor Dólar VENTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        64
      ],
      "id": "f659783e-e449-4a91-9df1-29f4d206759f",
      "name": "insert_new_row",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "se notifica via email",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        400
      ],
      "id": "99534db8-d7cc-4dcd-9c15-97282aea3670",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "se crea el encabezado para agregar la nueva fila",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -160
      ],
      "id": "19dd7019-2405-4aa1-9570-681acfefb687",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "se toma el item de ayer para categorizar y crear un roperte segun si SUBIO, BAJO o SE MANTUVO",
        "height": 112,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        -176
      ],
      "id": "6a2a06bd-4624-4c49-b0b0-4f42a38e60a4",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "se sube la nueva fila",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -432
      ],
      "id": "a2368d4b-625b-4f38-ad76-050a2758b31e",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "se categoriza",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        -464
      ],
      "id": "fc73cc3c-312f-4506-afcd-538aef0bc3a8",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Sos un analista financiero argentino que redacta reportes breves, claros y profesionales sobre la cotización del dólar.\n\nReglas:\n- Usá únicamente la información proporcionada.\n- Adaptá el tono según la variación (suba, baja o estabilidad).\n- El reporte debe ser breve maximo 5 líneas. \n- Con tono profesional\n- No generar titulos\n\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Fecha hoy: {{ $('row_hoy_final').item.json.fecha_hoy }}\nValor Compra hoy : {{ $('row_hoy_final').item.json.compra_hoy }}\nValor Venta hoy :{{ $('row_hoy_final').item.json.venta_hoy }}\n\nFecha ayer: {{ $('row_ayer_final').item.json.fecha_ayer }}\nValor Compra ayer : {{ $('row_ayer_final').item.json.compra_ayer }}\nValor Venta ayer : {{ $('row_ayer_final').item.json.venta_ayer }}\nVariación: {{$json.text}}\n\nGenerar un reporte financiero breve maximo 5 lineas.\n\nSi la variación es:\n- \"SUBIÓ\": destacar presión alcista o recuperación.\n- \"BAJÓ\": mencionar corrección o retroceso.\n- \"SE MANTUVO\": resaltar estabilidad o falta de movimiento.\n\nEl texto debe sonar profesional y natural.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2144,
        -336
      ],
      "id": "b266a54f-389f-4f00-b99c-c72db4c6bdba",
      "name": "Basic LLM Chain5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": "={{ 0.5 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2224,
        -160
      ],
      "id": "7b3b6f90-a81d-4236-9082-1511d2b7ed7c",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "JnrswBgUkPU7adap",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "se crea un roporte",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        -448
      ],
      "id": "6fc3b127-602d-45cf-ae50-4a34364fd59e",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list",
          "cachedResultName": "Pre_entrega-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.toFormat('LLLL-yyyy') }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        -288
      ],
      "id": "c3cad803-ad12-4dcc-8bbc-f287a280f1b6",
      "name": "row_hoy",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "se toma el registro hoy, si es que lo hay ",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -96
      ],
      "id": "2c1f25ec-59e0-4a23-b67b-fedad0abb392",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "si existe un registro con la fecha de hoy, se sube un error \"DUPLICADO\"",
        "height": 96,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ],
      "id": "9d48219f-ff40-4360-9d39-2eeea12317bc",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "se crea el encabezado para agregar la nueva fila",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "c9372f9c-413d-4c09-ab53-6a3dad9cf80e",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "se crea la nueva hoja mes-año",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        -432
      ],
      "id": "ac2c1e02-2b01-4dc5-be6f-648dbd50247f",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list",
          "cachedResultName": "Pre_entrega-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.toFormat('LLLL-yyyy') }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{$now.minus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        96
      ],
      "id": "48bd9a3f-5919-414a-87b5-f4138a110eb6",
      "name": "item_anterior",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8",
          "mode": "list",
          "cachedResultName": "Pre_entrega-sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gybvyMFzJ0CgyXrB-TzpC_d9Wbbh2CjFKlBymQS9Bb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.minus({ months: 0 }).toFormat('LLLL-yyyy') }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{$now.minus({ days: 1 }).toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        -336
      ],
      "id": "cc282e0c-a04d-4314-9f16-87902bbdebe4",
      "name": "item_de_mes_anterior",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oCSatDhGnEzj4lO2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "variable mes-año",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -144
      ],
      "id": "6c846f2c-147b-4f01-9972-88bc1da0d85f",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "jsCode": "const esPrimero = $now.day === 1;\n\nlet registroFinal = null;\n\n// Intentamos obtener ambos nodos de forma segura\nlet actualItems = [];\nlet mesAnteriorItems = [];\n\ntry {\n  actualItems = $(\"item_anterior\").all();\n} catch (e) {}\n\ntry {\n  mesAnteriorItems = $(\"item_de_mes_anterior\").all();\n} catch (e) {}\n\n// Lógica inteligente\nif (esPrimero) {\n  registroFinal = mesAnteriorItems[0] || actualItems[0] || null;\n} else {\n  registroFinal = actualItems[0] || mesAnteriorItems[0] || null;\n}\n\n// Valores fallback\nconst fechaAyer = registroFinal?.json?.Fecha \n  ?? $now.minus({ days: 1 }).toFormat(\"yyyy-MM-dd\");\n\nconst compraAyer = Number(registroFinal?.json?.[\"Valor Dólar COMPRA\"] ?? 0);\nconst ventaAyer = Number(registroFinal?.json?.[\"Valor Dólar VENTA\"] ?? 0);\n\nreturn [\n  {\n    json: {\n      fecha_ayer: fechaAyer,\n      compra_ayer: compraAyer,\n      venta_ayer: ventaAyer,\n      fuente_utilizada: esPrimero ? \"Mes Anterior\" : \"Mes Actual\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -64
      ],
      "id": "ae4a61f2-dd29-402f-9b6e-03658cb7014e",
      "name": "row_ayer_final"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Tomamos timestamp del Schedule\nconst timestamp = $(\"Schedule Trigger\").first().json.timestamp;\n\n// 2️⃣ Separar fecha y hora\nconst Fecha = timestamp.split(\"T\")[0];\nconst Hora_manana = timestamp.split(\"T\")[1].substring(0, 8);\n\n// 3️⃣ Tomamos datos del HTTP Request\nconst dolarData = $(\"HTTP Request - DOLAR\").first().json;\n\nconst Valor_Dolar_COMPRA = Number(dolarData.compra);\nconst Valor_Dolar_VENTA = Number(dolarData.venta);\n\n// 4️⃣ Estado fijo\nconst Estado = \"OK\";\n\n// 5️⃣ Retorno obligatorio en formato array\nreturn [\n  {\n    json: {\n      fecha_hoy: Fecha,\n      hora_hoy: Hora_manana,\n      compra_hoy: Valor_Dolar_COMPRA,\n      venta_hoy: Valor_Dolar_VENTA,\n      estado: Estado\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -176
      ],
      "id": "9b9180e3-20d2-49b1-a8a9-2f8b6939e2cd",
      "name": "row_hoy_final"
    },
    {
      "parameters": {
        "sendTo": "luciana.oviedo.wanuffelen@cummins.com",
        "subject": "=valor dolar {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; border: 1px solid #ddd; padding: 20px; border-radius: 8px; max-width: 500px;\">\n  \n  <h2 style=\"color: #2c3e50; text-align: center;\">💵 Reporte Dólar BNA</h2>\n  \n  <p style=\"text-align: center; color: #7f8c8d;\">\n    Se ha registrado una nueva cotización en la hoja \n    <strong>{{ $('Schedule Trigger').item.json.Month }}</strong>.\n  </p>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">\n    <tr style=\"background-color: #003366; color: white;\">\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Fecha</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Horario</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Valor Compra</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Valor Venta</th>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">{{ $('row_hoy_final').item.json.fecha_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">{{ $('row_hoy_final').item.json.hora_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center; font-weight: bold;\">\n        $ {{ $('row_hoy_final').item.json.compra_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center; font-weight: bold;\">\n        $ {{ $('row_hoy_final').item.json.venta_hoy }}\n      </td>\n    </tr>\n  </table>\n\n  <!-- INDICADOR DE VARIACIÓN -->\n  <div style=\"text-align:center; font-size:20px; margin-top:20px; font-weight:bold;\">\n    {{'<span style=\"color:#7f8c8d;\">🔼 SUBIO</span>'\n    }}\n  </div>\n\n  <br>\n\n  <div style=\"text-align: center; font-size: 12px; color: #999;\">\n    Estado del sistema:  {{ $('row_hoy_final').item.json.estado }}🟢\n  </div>\n<h2> Reporte del dia: {{ $json.text }}</h2>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3088,
        -336
      ],
      "id": "146cb99f-281c-4b74-9e87-4127c2a376cd",
      "name": "email_reporte_se_mantuvo1",
      "webhookId": "ae1eb49d-5344-4c2c-985a-a283ee38265c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TxrChhzQJClCL4cX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "luciana.oviedo.wanuffelen@cummins.com",
        "subject": "=valor dolar {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; border: 1px solid #ddd; padding: 20px; border-radius: 8px; max-width: 500px;\">\n  \n  <h2 style=\"color: #2c3e50; text-align: center;\">💵 Reporte Dólar BNA</h2>\n  \n  <p style=\"text-align: center; color: #7f8c8d;\">\n    Se ha registrado una nueva cotización en la hoja \n    <strong>{{ $('Schedule Trigger').item.json.Month }}</strong>.\n  </p>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">\n    <tr style=\"background-color: #003366; color: white;\">\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Fecha</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Horario</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Valor Compra</th>\n      <th style=\"padding: 10px; border: 1px solid #ddd;\">Valor Venta</th>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">{{ $('row_hoy_final').item.json.fecha_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center;\">{{ $('row_hoy_final').item.json.hora_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center; font-weight: bold;\">\n        $ {{ $('row_hoy_final').item.json.compra_hoy }}\n      </td>\n      <td style=\"padding: 10px; border: 1px solid #ddd; text-align: center; font-weight: bold;\">\n        $ {{ $('row_hoy_final').item.json.venta_hoy }}\n      </td>\n    </tr>\n  </table>\n\n  <!-- INDICADOR DE VARIACIÓN -->\n  <div style=\"text-align:center; font-size:20px; margin-top:20px; font-weight:bold;\">\n    {{'<span style=\"color:#7f8c8d;\">🔽 BAJO</span>'\n    }}\n  </div>\n\n  <br>\n\n  <div style=\"text-align: center; font-size: 12px; color: #999;\">\n    Estado del sistema:  {{ $('row_hoy_final').item.json.estado }}🟢\n  </div>\n<h2> Reporte del dia: {{ $json.text }}</h2>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3088,
        -528
      ],
      "id": "339971ab-bad2-4251-a18e-0fb1c1f26c38",
      "name": "email_reporte_se_mantuvo2",
      "webhookId": "ae1eb49d-5344-4c2c-985a-a283ee38265c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TxrChhzQJClCL4cX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - DOLAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - DOLAR": {
      "main": [
        [
          {
            "node": "¿EXISTE UN ERROR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿EXISTE UN ERROR?": {
      "main": [
        [
          {
            "node": "row_hoy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insertar_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insertar_error": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es 1ero?": {
      "main": [
        [
          {
            "node": "nueva_hoja_segun_el_mes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_new_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_cuadro_en_la_nueva_hoja": {
      "main": [
        [
          {
            "node": "item_de_mes_anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nueva_hoja_segun_el_mes": {
      "main": [
        [
          {
            "node": "header1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nombre": {
      "main": [
        [
          {
            "node": "¿Es 1ero?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "row": {
      "main": [
        []
      ]
    },
    "no_se_permite_dobles_registros": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Se subio hoy?": {
      "main": [
        [
          {
            "node": "no_se_permite_dobles_registros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "row_hoy_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "header1": {
      "main": [
        [
          {
            "node": "crear_cuadro_en_la_nueva_hoja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "variacion del dolar": {
      "main": [
        [
          {
            "node": "email_reporte_se_mantuvo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_reporte_se_mantuvo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_reporte_se_mantuvo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_new_row": {
      "main": [
        [
          {
            "node": "item_anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain5": {
      "main": [
        [
          {
            "node": "variacion del dolar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "row_hoy": {
      "main": [
        [
          {
            "node": "¿Se subio hoy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_anterior": {
      "main": [
        [
          {
            "node": "row_ayer_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_de_mes_anterior": {
      "main": [
        [
          {
            "node": "row_ayer_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "row_ayer_final": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "row_hoy_final": {
      "main": [
        [
          {
            "node": "nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a4e5c91-8090-4fe8-bb44-45c68299fc06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee07a6c0a9a7eb1c38798b0e752849f2449cf6b0b6c2766ed565e8d176047032"
  },
  "id": "hM0uuf6jlnhfgrEB",
  "tags": []
}